[Desktop Entry]
Version=1.1.1
Type=Application
Terminal=true
Exec=/home/pi/Pi-Assistant/system-tools-v1.1.1.sh 
Name=Pi Assistant
Icon=/home/pi/Pi-Assistant/icons/pi-assistant-logopng.png
Path=/home/pi/Pi-Assistant
Comment= 
Categories=Utility;
StartupNotify=false
