[Desktop Entry]
Version=1.0
Type=Application
Name=Zoom
Comment=Linux x86 version of Zom cloud meetings running using Box86
Exec=/home/pi/Pi-Assistant/apps/zoom/startzoom.sh
Icon=/home/pi/Pi-Assistant/icons/zoom-icon.png
Path=/home/pi/Pi-Assistant/apps/zoom
Terminal=true
StartupNotify=false
Categories=Network;
