[Desktop Entry]
Version=1.0
Type=Application
Name=Zoom
Comment=Linux x86 version of Zoom cloud meetings running using Box86
Exec="$HOME/zoom/startzoom.sh"
Icon="$HOME/Pi-Assistant/icons/zoom-icon.png"
Path="$HOME/Pi-Assistant/apps/zoom"
Terminal=true
StartupNotify=true
Categories=Network;
