[Desktop Entry]
Version=0.9
Type=Application
Terminal=true
Exec=/home/pi/system-tools/zoom/startzoom.sh
Name=system-tools
#Icon=/home/pi/system-tools/icons/zoom-icon.???
Path=/home/pi/system-tools/zoom
Comment=
StartupNotify=false
